<!DOCTYPE html>
{% extends 'master/base.html'%}
{% load static%}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 align">
                <img src="{% static 'hasita.jpeg'%}" class='mentor-self-image'><br>
                <h3>Hasita</h3>
                <h3>Architect</h3>
                <p class="textsize">
                    I've always had an inclination for creating things on my own, so this career was a natural fit for me. I completed my bachelor's degree from the city of Bijapur. 
                    I am currently a Master's of Architecture (MAAD programme) student at CEPT University in Ahmedabad. The passion and curiosity to learn more in the field made me want to study and explore more before getting into the routine of job.
                </p>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>
