<!DOCTYPE html>
{% extends 'master/base.html'%}
{% load static%}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 align">
                <img src="{% static 'Pratyasha.jpeg'%}" class='mentor-self-image'><br>
                <h3>Pratyasha</h3>
                <h3>Classical dancer & singer</h3>
                <p class="textsize">
                    Dancing
                    *1st Div. with Distinction in the Senior Diploma Examination from Prayag Sangeet Samiti, Allahabad held in the year 2012  2013.
                    *   1st Div. with Distinction in the Sangeet Visharad (5th year examination) on Odissi Dance from Prayag Sangeet Samiti, Allahabad for the session 2014 -2015. 
                    *   1st Div. in the Sangeet Prabhakar (6th year examination on Odissi Dance from Prayag Sangeet Samiti, Allahabad for the session 2017 -2018. 
                    Singing
                    *   1st Div. with Distinction in Practical in the 1st year  Examination, Conducted by Prayag Sangeet Samiti,   Allahabad held in the year 2013  2014.
                    *   1st Division with distinction in both Practical and   Theory in the 2nd year Exam. (Junior Diploma), conducted by Prayag Sangeet Samiti, Allahabad held for the year 2014  2015.
                    *   1st Division with distinction in both Practical and   Theory in the 3rd year Examination, conducted by Prayag Sangeet Samiti, Allahabad held for the year 2015  2016.
                </p>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>
