<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="suman">
    <meta name="google-site-verification" content="DTJce70r_dYUaXLtzU1l_XJ6i93Tdt3zt5N8xLnqesE" />
    <meta name="keywords" content="teaching and guidance,counselling,therapist near me,counsellor near me,psychotherapist,couples therapy near me,
    mental health counselor,relationship counselling,substance abuse counselor,sex counsellor,couples counselling,Software training near me,how to find" >
    <meta name="description" content="Consult  Counsel is an online consulting service where people seeking guidance in any field is counselled by a Mentor who is expertised in the same area">
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" integrity="sha512-1cK78a1o+ht2JcaW6g8OXYwqpev9+6GqOkz9xmBN9iUUhIndKtxwILGWYOSibOKjLsEdjyjZvYDq/cZwNeak0w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="{% static 'COUNC.jpeg' %}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Consult&Counsel</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>

</style>
</head>
<body>
    <section id="header">
        <div class="menu-bar">
          <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="/"><img src="static/job-logo-white.jpeg"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link plz" href="services">SERVICES</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link plz" href="mentors">MENTORS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link plz" href="login">ACCOUNT</a>
                </li>
                <div class="hidedropdown">
                <li class="nav-item">
                  <a class="nav-link dropdown">
                  <button class="dropbtn" onclick="myFunction()">ABOUT</button>
                  </a>
                  <div class="dropdown-content" id="myDropdown">
                    <a href="about">About us</a>
                    <a href="testimony">Testimonials</a>
                    <a href="FAQ">FAQ</a>
                    <a href="donation">Donation</a>
                  </div>
                </li>
              </div>
                <div class="mobileview">
                <li class="nav-item">
                  <a class="nav-link plz" href="about">ABOUT US</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link plz" href="testimony">TESTIMONIALS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link plz" href="FAQ">FAQ</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link plz" href="donation">DONATION</a>
                </li>
              </div>
                <li class="nav-item">
                  <a class="nav-link plz" href="support">CONTACT</a>
                </li>
              </ul>
            </div>
          </nav>    
        </div>
        <div class="banner text-center">
          <h1>Consult & Counsel</h1>
        </div>
      </section>
      <section id="recruiters">
        <div class="conatiner text-center">
          <h3>TOP COMPANIES WHERE OUR MENTORS WORK</h3>
          <div>
            <img src="static/dell.png">    
            <img src="static/oracle.png">    
            <img src="static/cisco.png">    
            <img src="static/netflex.png">    
            <img src="static/affect.png">    
            <img src="static/amazon.png">    
          </div>
          <div>
            <img src="static/Infosys.png">    
            <img src="static/byju.png">    
            <img src="static/indeed.png">    
            <img src="static/tnw.png">    
            <img src="static/DANONE.png">    
            <img src="static/IBM.png">    
          </div>
          <div>
            <img src="static/adobe.png">    
            <img src="static/IDC.png">    
            <img src="static/fadex.png">    
            <img src="static/wallmart.png">    
            <img src="static/microsoft.png">    
            <img src="static/forbes.png">    
          </div>
        </div>    
      </section>  
      <section id="jobs">
        <div class="container">
          <h3 class="align">Top MENTORS</h3>  
          <div class="company-details">
            <div class="job-update">
              <h4><b>Jayshree</b></h4>
              <p>Fashion Designer</p>
              <i class="fa fa-briefcase"></i><span> 6 yrs Exp.</span><br>
              <i class="fa fa-map-marker"></i><span> Kerla </span>
              <p>Skills <i class="fa fa-angle-double-right"></i><small>Design</small> <small>Modeling</small><small>Art</small></p>
            </div>
            <div class="apply-btn">
              <a href="step1"><button type="button" class="btn btn-primary">Connect now</button></a>
            </div>
          </div>
          <div class="company-details">
            <div class="job-update">
              <h4><b>Swaraj</b></h4>
              <p>Spiritualist & vocal composer</p>
              <i class="fa fa-briefcase"></i><span> 2 yrs Exp.</span><br>
              <i class="fa fa-map-marker"></i><span> Rishikesh</span>
              <p>Skills <i class="fa fa-angle-double-right"></i><small>Singing</small><small>Composing</small><small></small></p>
            </div>
            <div class="apply-btn">
              <a href="step1"><button type="button" class="btn btn-primary">Connect now</button></a>
            </div>
          </div>
          <div class="company-details">
              <div class="job-update">
                <h4><b>Suniti</b></h4>
                <p>HR Head</p>
                <i class="fa fa-briefcase"></i><span> 15 yrs Exp.</span><br>
                <i class="fa fa-map-marker"></i><span> Odisha</span>
                <p>Skills <i class="fa fa-angle-double-right"></i><small>HR Planning</small> <small>Bussiness startegy</small><small>Bussiness scaling</small><small>Team management</small></p>
              </div>
              <div class="apply-btn">
                <a href="step1"><button type="button" class="btn btn-primary">Connect now</button></a>
              </div>
          </div>
          <div class="company-details">
            <div class="job-update">
              <h4><b>Pallavi</b></h4>
              <p>Enterprenur & Social influencer</p>
              <i class="fa fa-briefcase"></i><span> 5 yrs Exp.</span><br>
              <i class="fa fa-map-marker"></i><span> MadhyaPradesh</span>
              <p>Skills <i class="fa fa-angle-double-right"></i><small>NGO</small> <small>Awareness</small><small>Communication</small><small>Software</small></p>
            </div>
            <div class="apply-btn">
              <a href="step1"><button type="button" class="btn btn-primary">Connect now</button></a>
            </div>
          </div>
          <div class="company-details">
            <div class="job-update">
              <h4><b>Shivam</b></h4>
              <p>SDE at Microsoft</p>
              <i class="fa fa-briefcase"></i><span> 3 yrs Exp.</span><br>
              <i class="fa fa-map-marker"></i><span> Odisha</span>
              <p>Skills <i class="fa fa-angle-double-right"></i><small>Web development</small> <small>App development</small><small>Design</small><small>Datastructure</small></p>
            </div>
            <div class="apply-btn">
              <a href="step1"><button type="button" class="btn btn-primary">Connect now</button></a>
            </div>
          </div>
          <div class="company-details">
            <div class="job-update">
              <h4><b>Damini</b></h4>
              <p>Actor & Dancer</p>
              <i class="fa fa-briefcase"></i><span> 5 yrs Exp.</span><br>
              <i class="fa fa-map-marker"></i><span> Odisha</span>
              <p>Skills <i class="fa fa-angle-double-right"></i><small>Dancing</small> <small>Acting</small><small>Lifestyle Expert</small><small></small></p>
            </div>
            <div class="apply-btn">
              <a href="step1"><button type="button" class="btn btn-primary">Connect now</button></a>
            </div>
          </div>
        </div>    
      </section>
      <section id="site-stats">
        <div class="container text-center">
          <h3>OUR SITE STATS</h3>
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-6">
                    <div class="stats-box">
                      <i class="fa fa-user-o"></i><span><small>2k +</small></span>
                      <p>Users</p>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="stats-box">
                      <i class="fa fa-slideshare"></i><span><small>500 +</small></span>
                      <p>MENTORS</p>
                    </div>
                  </div>
                </div>
              </div>  
              <div class="col-md-6">
                <div class="row">
                  <div class="col-6">
                    <div class="stats-box">
                      <i class="fa fa-hand-peace-o"></i><span><small>100 +</small></span>
                      <p>Daily visitors</p>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="stats-box">
                      <i class="fa fa-building-o"></i><span><small>100 +</small></span>
                      <p>Testimonials</p>
                    </div>
                  </div>
                </div>
              </div>     
            </div>
          </div>    
      </section>
      <section id="footer" class="text-center">
          <p>Social Media links</p>
          <a href="https://www.instagram.com/consultandcounsel/"><img src="static/instagram.svg"></a>
          <a href="https://m.facebook.com/consultandcounsel"><img src="static/facebook-icon.png"></a>
          <a href="https://www.linkedin.com/company/consultandcounsel"><img src="static/linkedin-icon.png"></a>
          <hr>
          Icon by <a href="https://freeicons.io/profile/823">Muhammad Haq</a> on <a href="https://freeicons.io">freeicons.io</a>
          <p>Made With <i class="fa fa-heart"></i> by <a href="/"> VSSUT Almuni</a></p>
      </section>
      <script>
        /* When the user clicks on the button, 
        toggle between hiding and showing the dropdown content */
        function myFunction() {
          console.log("clicked");
          document.getElementById("myDropdown").classList.toggle("show");
        }
        
        // Close the dropdown if the user clicks outside of it
        window.onclick = function(e) {
          if (!e.target.matches('.dropbtn')) {
          var myDropdown = document.getElementById("myDropdown");
            if (myDropdown.classList.contains('show')) {
              myDropdown.classList.remove('show');
            }
          }
        }
        </script>
      </body>
      </html>
          
          
          
          
          
          
          
          
          
          
          
          
          
          