<!DOCTYPE html>
{% extends 'master/base.html'%}
{% load static %}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-6">
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScggPGuRe-0sOydHfjOZ3tuCoobs1aSMhxUpMQCTSweez4kRQ/viewform?embedded=true" width="640" height="999" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
            </div>
        </div>
    </div>
    {%endblock content%}
</body>
</html>