<!DOCTYPE html>
{% extends 'master/base.html'%}
{% load static%}
<html lang="en">
<head></head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <h3 class="align">Create your account</h3>
                {% if messages %}
                <ul class="messages error-go">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
                </ul>
                {% endif %}
                <form class="form-group" action="signup" method="POST">
                    {% csrf_token %}
                    {%for field in fm%}
                    <label class="textsize space">{{ field.label }}</label>
                    {{ field }}
                    {%endfor%}
                    <label for="username" class="space"><div class="textsize">Mobile No</div></label>
                    <input type="text" name="mobile" required class="form-control space">
                    <label class="space" for="role"><div class="textsize">Role:</div></label>
                    <div class="space">
                        <select name="role" id="role" class="form-control" onchange="myFunction()">
                            <option value="Selectrole">Select role</option>
                            <option value="professional">Professional</option>
                            <option value="student">Student</option>
                        <option value="parent">Parent</option>
                        <option value="teacher">Teacher</option>
                        </select>
                    </div>
                    <div id="showschoolclg">
                        <label class="space" for="inst"><div class="textsize">School/College:</div></label>
                        <div class="space">
                            <select name="inst" id="inst" class="form-control">
                            <option value="student">School</option>
                            <option value="parent">College</option>
                            </select>
                        </div>
                        <label class="space" for="role"><div class="textsize">Name of Instution:</div></label>
                        <input type="text" name="scname" required class="form-control space">
                    </div>
                    <label class="space" for="qualification"><div class="textsize">Qualification</div></label>
                    <input type="text" name="qualification" required class="form-control space">
                    <label for="username" class="space"><div class="textsize">Linkedin ID</div></label>
                    <input type="text" name="linkedin" class="form-control space">
                    <label class="space" for="abouturself"><div class="textsize">Tell me about yourself</div></label>
                    <textarea multiline type="text" name="abouturself" class="form-control space"></textarea>
                    <button class="btn btn-success space-button">SUBMIT</button>
                </form>
            </div>
        </div>
    </div>
    <script>
        document.getElementById("showschoolclg").style.display = "none";
        function myFunction(){
            var y=document.getElementById("role");
            console.log(y.value);
            if(y.value=="student"){
                document.getElementById("showschoolclg").style.display = "block";
            }
            else{
                document.getElementById("showschoolclg").style.display = "none";
            }
        }
        
    </script>
    {% endblock content %}
</body>
</html>